.app-notification-manual-delete {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.app-notification-manual-delete__input {
  width: 100%;

  .govuk-input {
    width: 100%;
    max-width: 100%;
  }
}

.app-notification-manual-delete__button {
  margin-top: 8px;
}
